<ng-container *ngIf="repository !== null" >

  <div class="repository-main" >
    <div>
      <a class="btn-back" mat-raised-button routerLink='' routerLinkActive="active">
        <mat-icon>arrow_back</mat-icon>
        Back
      </a>
    </div>
    <mat-card class="profile">
      <div class="profile-avatar">
        <img class="img-profile" [src]="repository.owner.avatar_url">
      </div>
      <p>Login: {{repository.owner.login}}</p>
      <p>Repository name: {{repository.full_name}}</p>
      <p>Language: {{repository.language}}</p>
      <p>Stars: {{repository.stargazers_count}}</p>
      <p>Forks: {{repository.forks}}</p>
      <p>Watchers: {{repository.watchers}}</p>
    </mat-card>
  </div>
</ng-container>


